@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' monospace;
}

.d-flex a{
    color: #2febe4;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.1s;
}

.d-flex a:hover{
    color: #04061c;
    font-weight: 20px;
    background: #2febe4;
    box-shadow: 0 0 30px #60e028;
}


body{
    background: black; 
    min-height: 100vh;
    align-content: center;
    justify-content: center;
}

.d-flex a{
    color: #2febe4;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.1s;
}

.d-flex a:hover{
    color: #04061c;
    font-weight: 20px;
    background: #2febe4;
    box-shadow: 0 0 30px #60e028;
}

body{
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #161623;
}

h1{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    color: #fff;
    margin: 20px 0 20px 0;
    z-index: 1;
}

.container .card1 .content table{
    color: white;
}
